{{!-- Hero banner display for /categories path --}}

    <div class="row">
        <div class="hero-image" id="categories-hero-image">
          <div class="hero-text" id="categories-hero-text">
            <h3>Explore</h3>
          </div>
        </div>
    </div>

    {{!-- Related Articles Section --}}
<div class="row results-header">
    <div class="col s12 center-align">
        <h5>In the News</h5>
        <hr align="center" width="30%">
    </div>
</div>