{{!-- Women in the Workplace Image Banner --}}

<div class="row" id="categories-image-section">
  <div class="col s6 m6" id="image-div1">
    <img src="/images/women-working.jpg" id="categories-image-banner">
  </div>
  <div class="hero-text" id="categories-hero-text">
    <h3>Women in the Workplace</h3>
  </div>
  <div class="col s6 m6" id="image-div2">
    <img src="/images/women-working2.jpg" id="categories-image-banner2">
  </div>
</div>

{{!-- Related Articles Section --}}
<div class="row results-header">
    <div class="col s12 center-align">
        <h5>Related Articles</h5>
        <hr align="center" width="30%">
    </div>
</div>