<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/reset.css">
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/styles/materialize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <title>Home Page</title>

</head>

{{!-- 1st nav --}}
<div class="navbar-fixed">
  <nav id="first-nav">
    <div class="nav-wrapper first-nav">
      {{!-- <a href="#" class="brand-logo right">Logo</a> --}}
      <ul id="nav-mobile" class="left">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/categories">Categories</a></li>
      </ul>
      <ul id="nav-mobile" class="right">
        <li><a href="/services">Sign-up</a></li>
        <li><a href="/">Login</a></li>
      </ul>
    </div>
  </nav>
</div>

<body>
  {{{body}}}
</body>

<div class="footer">
  © 2019 Copyright
  <a class="social-icons" href="https://github.com/ckayv11" target="_blank"><i class="fab fa-github fa-2x"></i></a>
  <a class="social-icons" href="https://www.linkedin.com/in/christyvongphakdy/" target="_blank"><i
      class="fab fa-linkedin-in fa-2x"></i></a>
  <a class="social-icons" href="https://twitter.com/ckayv11" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
</div>

<script src="https://kit.fontawesome.com/85f0bdccf3.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/index.js"></script>

</html>