<div id="home">

    {{!-- brand container --}}
    <div class="container">

        <div class="row center-align">
            <div class="col s12">
                <h1 class="main">Brand</h1>
            </div>
        </div>

        {{!-- second "nav" --}}
        <div class="row center-align" style="min-height: 30px;">

            <div class="mind">
                <div class="col s2">
                    <p>Mind & Body</p>
                </div>
            </div>

            <div class="love">
                <div class="col s2">
                    <p>Love & Intimacy</p>
                </div>
            </div>

            <div class="fertility">
                <div class="col s2">
                    <p>Fertility & Pregnancy</p>
                </div>
            </div>

            <div class="family">
                <div class="col s2">
                    <p>Family & Parenting</p>
                </div>
            </div>

            <div class="health">
                <div class="col s2">
                    <p>Women’s Health</p>
                </div>
            </div>

            <div class="work">
                <div class="col s2">
                    <p>Women in the Workplace</p>
                </div>
            </div>

        </div>


        {{!-- slider --}}
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/images/love-intimacy.jpg">
                    <div class="caption center-align">
                        <h3>Love & Intimacy</h3>
                    </div>
                </li>
                <li>
                    <img src="/images/parenting.jpg">
                    <div class="caption center-align">
                        <h3>Family & Parenting</h3>
                    </div>
                </li>
                <li>
                    <img src="/images/women-working.jpg">
                    <div class="caption center-align">
                        <h3>Workplace</h3>
                    </div>
                </li>
            </ul>
        </div>


        <h2>About</h2>


        {{!-- about body --}}

        <div class="row">
            <div class="col-md-6">
                <div class="aboutBody">Sample text</div>
            </div>
            <div class="col-md-6">
                <img src="../public/images/">
            </div>
        </div>

        <h2>The Team</h2>

        {{!-- developer info --}}

        <div class="row">
            <div class="col-md-6">
                <img src="../public/images/">
            </div>
            <div class="col-md-6">
                <img src="../public/images/">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="../public/images/">
            </div>
            <div class="col-md-6">
                <img src="../public/images/">
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>