<div id="home">

  {{!-- brand container --}}
  <div class="container">

    <div class="row center-align">
      <div class="col s12">
        <h1 class="main">Brand</h1>
      </div>
    </div>

    {{!-- second "nav" --}}
    <div class="row center-align" style="min-height: 30px" id="sec-nav">

      <div class="mind">
        <div class="col s2">
          <a href="/categories">Mind & Body</a>
        </div>
      </div>

      <div class="love">
        <div class="col s2">
          <a href="/categories">Love & Intimacy</a>
        </div>
      </div>

      <div class="fertility">
        <div class="col s2">
          <a href="/categories">Fertility & Pregnancy</a>
        </div>
      </div>

      <div class="family">
        <div class="col s2">
          <a href="/categories">Family & Parenting</a>
        </div>
      </div>

      <div class="health">
        <div class="col s2">
          <a href="/categories">Women’s Health</a>
        </div>
      </div>

      <div class="work">
        <div class="col s2">
          <a href="/categories">Women in the Workplace</a>
        </div>
      </div>

    </div>
</div>


{{!-- Hero Banner --}}
<div class="row">
    <div class="hero-image" id="categories-hero-image">
      <div class="hero-text">
        <h2>Women's Health</h2>
      </div>
    </div>
</div>

{{!-- Related Articles Section --}}
<div class="row results-header">
    <div class="col s12 center-align">
        <h5>Related Articles</h5>
        <hr align="center" width="30%">
    </div>
</div>

{{!-- Article Results go here dynamically using API and javascript--}}
<div class="row results-body"></div>



