<div id="home">

  {{!-- brand container --}}
  <div class="container">

    {{!-- second "nav" --}}
    <div class="row center-align" style="min-height: 30px" id="sec-nav">

      <div class="mind">
        <div class="col s2">
          <a href="/categories">Mind & Body</a>
        </div>
      </div>

      <div class="love">
        <div class="col s2">
          <a href="/categories">Love & Intimacy</a>
        </div>
      </div>

      <div class="fertility">
        <div class="col s2">
          <a href="/categories">Fertility & Pregnancy</a>
        </div>
      </div>

      <div class="family">
        <div class="col s2">
          <a href="/categories">Family & Parenting</a>
        </div>
      </div>

      <div class="health">
        <div class="col s2">
          <a href="/categories">Women’s Health</a>
        </div>
      </div>

      <div class="work">
        <div class="col s2">
          <a href="/categories">Women in the Workplace</a>
        </div>
      </div>

    </div>
</div>

  {{!-- slider --}}
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/images/mind-body.jpg">
        <div class="caption center-align">
          <h3>Mind & Body</h3>
        </div>
      </li>
      <li>
        <img src="/images/love-intimacy.jpg">
        <div class="caption center-align">
          <h3>Love & Intimacy</h3>
        </div>
      </li>
      <li>
        <img src="/images/pregnancy.jpg">
        <div class="caption center-align">
          <h3>Fertility & Pregnancy</h3>
        </div>
      </li>
      <li>
        <img src="/images/parenting.jpg">
        <div class="caption center-align">
          <h3>Family & Parenting</h3>
        </div>
      </li>
      <li>
        <img src="/images/womens-health.jpg">
        <div class="caption center-align">
          <h3>Women's Health</h3>
        </div>
      </li>

      <li>
        <img src="/images/women-working.jpg">
        <div class="caption center-align">
          <h3>Women in the Workplace</h3>
        </div>
      </li>
    </ul>
  </div>

  <div class="container">
    {{!-- quote --}}
    <div class="row">
      <div class="col s12">
        <blockquote>
        <h5>
          "One's life has value as long as one attributes value to the life of others, by means of love, friendship,
          indignation, and compassion." - Simone de Beauvoir
        </h5>
        </blockquote>
      </div>
    </div>

    {{!-- cards --}}
    <div class="row">

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/images/volunteer-card.jpg">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <p>Sample text</p>
          </div>
          <div class="card-action">
            <a href="#">Sample link</a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/images/errands.jpg">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <p>Sample text</p>
          </div>
          <div class="card-action">
            <a href="#">Sample link</a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/images/groceries2.jpg">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <p>Sample text</p>
          </div>
          <div class="card-action">
            <a href="#">Sample link</a>
          </div>
        </div>
      </div>

    </div>

    {{!-- latest posts --}}
<div class="row latest-posts">
    <div class="col s12 center-align">
        <h5>Latest Posts</h5>
        <hr align="center" width="30%">
    </div>
</div>

    {{!-- cards, content to be generated dynamically --}}
  <div class="row container results-body">
    <div class="col m6 l4">
      <a href="#" target="_blank">
      <div class="card article-card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="/images/love-intimacy2.jpg">
        </div>
        <div class="card-content center-align">
          <p>June 6, 2019</p><br>
          <span class="card-title">Title</span>
          <p>By Author Name</p>
        </div>
      </div>
      </a>
    </div>
 
    <div class="col m6 l4">
      <a href="#" target="_blank">
      <div class="card article-card">
        <div class="card-image">
          <img src="/images/love-intimacy2.jpg">
        </div>
        <div class="card-content center-align">
          <p>June 6, 2019</p><br>
          <span class="card-title">Title</span>
          <p>By Author Name</p>
        </div>
      </div>
      </a>
    </div>

    <div class="col m6 l4">
      <a href="#" target="_blank">
      <div class="card article-card">
        <div class="card-image">
          <img src="/images/love-intimacy2.jpg">
        </div>
        <div class="card-content center-align">
          <p>June 6, 2019</p><br>
          <span class="card-title">Title</span>
          <p>By Author Name</p>
        </div>
      </div>
      </a>
    </div>
  </div>

    {{!-- example code below
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div> --}}
  </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>