<div id="home">

  {{!-- 1st nav --}}
  <div class="navbar-fixed">
    <nav id="first-nav">
      <div class="nav-wrapper first-nav">
        {{!-- <a href="#" class="brand-logo right">Logo</a> --}}
        <ul id="nav-mobile" class="left">
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Services</a></li>
          <li><a href="/">Categories</a></li>
        </ul>
      </div>
    </nav>
  </div>

  {{!-- brand container --}}
  <div class="container">

    <div class="row center-align">
      <div class="col s12">
        <h1 class="main">Brand</h1>
      </div>
    </div>

    {{!-- second "nav" --}}
    <div class="row center-align">

      <div class="mind">
        <div class="col s2">
          <p>Mind & Body</p>
        </div>
      </div>

      <div class="love">
        <div class="col s2">
          <p>Love & Intimacy</p>
        </div>
      </div>

      <div class="fertility">
        <div class="col s2">
          <p>Fertility & Pregnancy</p>
        </div>
      </div>

      <div class="family">
        <div class="col s2">
          <p>Family & Parenting</p>
        </div>
      </div>

      <div class="health">
        <div class="col s2">
          <p>Women’s Health</p>
        </div>
      </div>

      <div class="work">
        <div class="col s2">
          <p>Women in the Workplace</p>
        </div>
      </div>

    </div>

    {{!-- hero image --}}
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
          <div class="caption center-align">
            <h3>One's life has value as long as one attributes value to the life of others, by means of love,
              friendship, indignation, and compassion. - Simone de Beauvoir</h3>
          </div>
        </li>
        <li>
          <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
          <div class="caption center-align">
            <h3>One's life has value as long as one attributes value to the life of others, by means of love,
              friendship, indignation, and compassion. - Simone de Beauvoir</h3>
          </div>
        </li>
        <li>
          <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
          <div class="caption center-align">
            <h3>One's life has value as long as one attributes value to the life of others, by means of love,
              friendship, indignation, and compassion. - Simone de Beauvoir</h3>
          </div>
        </li>
      </ul>
    </div>

    {{!-- example code below
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div> --}}

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>