<div id="services">

    {{!-- brand container --}}
    <br>
    <br>
    <div class="container">
        <div class="row center-align">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card">
                        <img class="responsive-img" src="/images/services.jpg">
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-panel transparent">
                    <h5>We see a world where all of our neighbors have access to supportive community,
                        one where everyone works together to help one another. Our mission is to enhance
                        the lives of those in need by offering our compassion, skills and services to all.
                        Please see the services we offer below.</h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container" id="explore_services">
        <div class="row">
            <div class="col s12" id="services">
                <h5>Explore Services</h5>
                <hr align="center" width="30%">
            </div>
        </div>

        {{!-- cards --}}
        <div class="row">
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/babysitting.jpg">
                        <span class="card-title" id="title">Babysitting</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/errands2.jpg">
                        <span class="card-title" id="title">Errands</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/groceries2.jpg">
                        <span class="card-title" id="title">Groceries</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/houseprojects.jpg">
                        <span class="card-title" id="title">Home Projects</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/housekeeping.jpg">
                        <span class="card-title" id="title">Housekeeping</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/petcare.jpg">
                        <span class="card-title" id="title">Pet Care</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/transportation.jpg">
                        <span class="card-title" id="title">Transportation</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/yardwork2.jpg">
                        <span class="card-title" id="title">Yardwork</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="service_image">
                    <div class="card-image">
                        <img src="/images/moving.jpg">
                        <span class="card-title" id="title">Movers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Request services signup --}}
    <div class="row container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content grey-darken-3-text">
                        <span class="card-title">Request Assistance</span>
                        <p>Our job is to raise awareness and advocate for women's health and safety. With this in mind,
                            we aim to provide a safe environment for you to ask for assistance from your community
                            through careful vetting of our volunteers and our app advanced technology that protects you
                            and keeps you connected with our team. Whether you need your lawn mowed or someone to pick
                            up
                            your groceries, we are here to help!</p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1"
                            id="request-btn">Sign-up!</a>
                    </div>
                </div>
            </div>

            {{!-- Request to be a volunteer --}}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content grey-darken-3-text">
                        <span class="card-title">Become a Volunteer</span>
                        <p>Volunteering will give you the chance to create the kind of community you would like to live
                            in. You will meet new people who may later become your friend or colleague. You will provide
                            meaningful connections to all within our community and give back to neighbors who need a
                            little help. Our volunteer experiences are varied, so you will find something that will be
                            a good fit for your availabilty and interests.</p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal2"
                            id="volunteer-btn">Sign-up!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="signup">

        {{!-- Hero Banner --}}

        <div class="row">
            <div class="hero-image" id="services-hero-image">
                <p id="request_volunteer">Request services or volunteer today!</p>
            </div>
        </div>
    </div>
</div>

<!-- Request modal -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Request services:</h4>
        <div class="row">
            <div class="col s12">
                <h6>
                    We see a world where all of our neighbors have access to supportive community,
                    one where everyone works together to help one another. Our mission is to enhance
                    the lives of those in need by offering our compassion, skills and services to all.
                    Please fill out the short form below and our Volunteer Program Manager will be in
                    touch with you. Thank you!
                </h6>
            </div>
        </div>
        <br>
        <h4>Contact Information</h4>
        <div class="row">
            <form class="col s12" id="request_services">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Jane" id="first_name" type="text" class="validate">
                        <label for="first_name">First Name: </label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Smith" id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="123 Main Street" id="street_address" type="text" class="validate">
                        <label for="street_address">Address: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Apt. 137" id="address_2" type="text" class="validate">
                        <label for="address_2">Address: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <input placeholder="Kansas City" id="city" type="text" class="validate">
                        <label for="city">City: </label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="Kansas" id="state" type="text" class="validate">
                        <label for="state">State: </label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="66012" id="zip_code" type="text" class="validate">
                        <label for="zip_code">Zip Code: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <input placeholder="123-456-7890" id="phone_number" type="text" class="validate">
                        <label for="phone_number">Phone Number: </label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="email@something.com" id="email" type="text" class="validate">
                        <label for="email">Email: </label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="01/01/2001" id="date_of_birth" type="text" class="validate">
                        <label for="date_of_birth">Date of Birth: </label>
                    </div>
                </div>
                <div class="row">
                    <h6>Gender:</h6>
                    <div class="col s12">
                        <p>
                            <label>
                                <input id="male" class="with-gap" name="gender" type="radio" />
                                <span>Male</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input id="female" class="with-gap" name="gender" type="radio" />
                                <span>Female</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input id="non_binary" class="with-gap" name="gender" type="radio" />
                                <span>Non-Binary</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input id="denies" class="with-gap" name="gender" type="radio" />
                                <span>Prefer not to disclose</span>
                            </label>
                        </p>
                    </div>
                </div>
                <h4>Services Offered</h4>
                <h6>What service can we help you with?</h6>
                <p>
                    <label>
                        <input id="transportation" class="with-gap" name="services" type="radio" />
                        <span>Transportation</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="pet_care" class="with-gap" name="services" type="radio" />
                        <span>Pet Care</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="babysitting" class="with-gap" name="services" type="radio" />
                        <span>Babysitting</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="groceries" class="with-gap" name="services" type="radio" />
                        <span>Groceries</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="errands" class="with-gap" name="services" type="radio" />
                        <span>Errands</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="yardwork" class="with-gap" name="services" type="radio" />
                        <span>Yardwork</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="housekeeping" class="with-gap" name="services" type="radio" />
                        <span>Housekeeping</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="home_projects" class="with-gap" name="services" type="radio" />
                        <span>Home Projects</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="movers" class="with-gap" name="services" type="radio" />
                        <span>Movers</span>
                    </label>
                </p>
                <a class="modal-close waves-effect waves-light btn" id="submit_request">Submit</a>
            </form>
        </div>
    </div>
</div>

<!-- Volunteer modal -->
<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Request to be a volunteer:</h4>
        <div class="row">
            <div class="col s12">
                <h6>
                    Volunteering will give you the chance to create the kind of community you would like to live in. By
                    volunteering, you will meet new people who may later become your friend or colleague. As a
                    volunteer, you
                    will provide meaningful connections to all within our community and give back to neighbors who need
                    a little help. Our volunteer experiences are varied, so you will find something that will be a good
                    fit for your availabilty and interests. If you think this is right for you, then please fill out
                    the short form below and our Volunteer Program Manager will be in touch with you.
                    Thank you for your time!
                </h6>
            </div>
        </div>
        <br>
        <h4>Contact Information</h4>
        <div class="row">
            <form class="col s12" id="volunteer">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Jane" id="first_name" type="text" class="validate">
                        <label for="first_name">First Name: </label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Smith" id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="123 Main Street" id="street_address" type="text" class="validate">
                        <label for="street_address">Address: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Apt. 137" id="address_2" type="text" class="validate">
                        <label for="address_2">Address: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <input placeholder="Kansas City" id="city" type="text" class="validate">
                        <label for="city">City: </label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="Kansas" id="state" type="text" class="validate">
                        <label for="state">State: </label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="66012" id="zip_code" type="text" class="validate">
                        <label for="zip_code">Zip Code: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <input placeholder="123-456-7890" id="phone_number" type="text" class="validate">
                        <label for="phone_number">Phone Number: </label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="email@something.com" id="email" type="text" class="validate">
                        <label for="email">Email: </label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="01/01/2001" id="date_of_birth" type="text" class="validate">
                        <label for="date_of_birth">Date of Birth: </label>
                    </div>
                </div>
                <div class="row">
                    <h6>Gender:</h6>
                    <div class="col s12">
                        <p>
                            <label>
                                <input id="male" class="with-gap" name="gender" type="radio" />
                                <span>Male</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input id="female" class="with-gap" name="gender" type="radio" />
                                <span>Female</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input id="non_binary" class="with-gap" name="gender" type="radio" />
                                <span>Non-Binary</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input id="denies" class="with-gap" name="gender" type="radio" />
                                <span>Prefer not to disclose</span>
                            </label>
                        </p>
                    </div>
                </div>
                <h4>Availability</h4>
                <h6>What days are you available for volunteer assignments?</h6>
                <p>
                    <label>
                        <input id="monday" type="checkbox" class="filled-in" />
                        <span>Monday</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="tuesday" type="checkbox" class="filled-in" />
                        <span>Tuesday</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="wednesday" type="checkbox" class="filled-in" />
                        <span>Wednesday</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="thursday" type="checkbox" class="filled-in" />
                        <span>Thursday</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="friday" type="checkbox" class="filled-in" />
                        <span>Friday</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="saturday" type="checkbox" class="filled-in" />
                        <span>Saturday</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="sunday" type="checkbox" class="filled-in" />
                        <span>Sunday</span>
                    </label>
                </p>
                <h4>Interests</h4>
                <h6>In which areas are you best suited to volunteer?</h6>
                <p>
                    <label>
                        <input id="transportation" type="checkbox" class="filled-in" />
                        <span>Transportation</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="pet_care" type="checkbox" class="filled-in" />
                        <span>Pet Care</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="babysitting" type="checkbox" class="filled-in" />
                        <span>Babysitting</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="groceries" type="checkbox" class="filled-in" />
                        <span>Groceries</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="errands" type="checkbox" class="filled-in" />
                        <span>Errands</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="yardwork" type="checkbox" class="filled-in" />
                        <span>Yardwork</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="housekeeping" type="checkbox" class="filled-in" />
                        <span>Housekeeping</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="home_projects" type="checkbox" class="filled-in" />
                        <span>Home Projects</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="movers" type="checkbox" class="filled-in" />
                        <span>Movers</span>
                    </label>
                </p>
                <br>
                <a class="modal-close waves-effect waves-light btn" id="submit_volunteer">Submit</a>
            </form>
        </div>
    </div>
</div>