<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card m4">
        <div class="card-body">
          <h5 class="card-title">User</h5>
          <p>
            <strong>ID</strong>: {{user.id}}</p>
          <p>
          <p>
            <strong>First Name: </strong> {{user.first_name}}</p>
          <p>
            <strong>Last Name: </strong> {{user.last_name}}</p>
            <br>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
