.list-group-item {
  line-height: 2.5;
}

/* ==================================== nav styling ==================================== */
#first-nav {
  background-color: #FFFBE8;
  height: 40px;
}

#sec-nav {
  background-color: transparent !important;
  height: 40px;
}

nav ul {
  margin: -10px;
}

.nav-mobile {
  padding-left: 10px;
}

nav ul a {
  color: rgb(105, 105, 105) !important;
}

nav ul.left {
  padding-left: 20px;
  /* margin: 0 auto; */
}

nav ul.right {
  padding-right: 20px;
}

/* ==================================== slider ==================================== */
.slider {
  margin: 20px 0 20px 0;
  clear: left;
}

/* ==================================== headers ==================================== */
h1 {
  margin: 0 auto;
}

h1.main {
  padding-bottom: 20px;
  color: rgb(105, 105, 105);
}

h3 {
  font-size: 24px;
  border-top: rgb(105, 105, 105) solid 2px;
  border-bottom: rgb(105, 105, 105) solid 2px;
  padding: 10px 0 10px 0;
  color: rgb(105, 105, 105);
}

/* ==================================== etc. ==================================== */
a {
  color: rgb(105, 105, 105);
}

.row.center-align {
  padding: 0;
  overflow: auto;
  margin: 0 auto;
}

/* ==================================== footer ==================================== */
.page-footer {
  background-color: #FFFBE8;
}

.footer-copyright {
  color: rgb(105, 105, 105) !important;
}
